.post {
  background-color: white;
  border: 1px solid lightgray;
  margin-bottom: 45px;
}

.post-image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.post-text {
  font-weight: normal;
  padding: 15px 20px;
}

.post-header {
  display: flex;
  align-items: center;
  padding: 15px 20px;
}

.post-avatar {
  margin-right: 10px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: lightgrey;  
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.comments {
  border-top: 1px solid black;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 15px;
}

.comment-form {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.heart {
  width: 45px;
  height: auto;
  padding-left: 15px;
  padding-top: 20px;
  cursor: pointer;
}